@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(209, 209, 209);
    margin: 0;
}



.container{
   
    border-radius: 3px;   

}

.container h2{
    text-align: center;
}